#help-page {
  padding: 20px 25px;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(33, 64, 154, 0.2);
  display: none;
  @include tablet {
    display: block;
  }
  li {
    &.is-active {
      a {
        font-weight: 700;
      }
    }
    a {
      font-size: 16px;
      color: $main;
      font-weight: 500;
      text-transform: inherit;
      &::before {
        display: none;
      }
    }
  }
}
.page-help-wrapper {
  h2.title-page {
    color: $main;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #bebebe;
  }
  .content-page {
    .row-title {
      margin-bottom: 1rem;
      font-size: 14px;

      span {
        color: $main;
        font-size: 14px;
        font-weight: bold;
      }
    }
    p {
      font-size: 14px;

      color: $main;
    }
  }
}
